@use "top/top-kv";
@use "top/top-about";
@use "top/top-service";
@use "top/top-recruit";
@use "top/top-news";
@use "top/top-loading";
@use "about/about-philosophy";
@use "about/about-staff";
@use "about/about-company";
@use "service/service-case";
@use "service/service-card";
@use "news/news-common";
@use "news/news-pagination";
@use "recruit/recruit-position";
@use "recruit/recruit-benefit";
@use "recruit/recruit-culture";
@use "contact/contact-common";
