@use "../../global" as g;

/*!
page > service > service-card
------------------------------
*/

.service-card-wrapper {
  padding-inline: 20rem;
  display: grid;
  gap: 64rem;

  @include g.mq() {
    padding-inline: 83rem;
    gap: 80rem;
  }
}

.service-card {
  @include g.mq() {
    display: grid;
    grid-template-columns: repeat(2, 600rem);
    grid-template-rows: minmax(auto, 545rem);
  }

  // 奇数番目（1, 3, ...）のservice-cardの中で要素の順番を逆にする
  &:nth-child(odd) {
    @include g.mq() {
      .service-card-image {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border-radius: 0 10rem 10rem 0;
      }

      .service-card-body {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }
  }
}

.service-card-image {
  margin-inline: auto;
  width: 287rem;
  height: 187rem;
  border-radius: 10rem;
  overflow: hidden;

  @include g.mq() {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10rem 0 0 10rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.service-card-body {
  padding: 191rem 24rem 40rem;
  margin-top: -167rem;
  background-color: var(--color-bg-light);
  border-radius: 10rem;

  @include g.mq() {
    padding: 48rem 50rem;
    margin-top: 0;
    border-radius: 0;
  }
}

.service-card-title {
  display: grid;
  gap: 4rem;
}

.service-card-title-ja {
  font-size: 20rem;
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-weight: 500;

  @include g.mq() {
    font-size: 28rem;
  }
}

.service-card-title-en {
  font-family: var(--font-family-dosis);
  font-size: 15rem;
  line-height: 1.7;
  letter-spacing: 0.05em;
  color: var(--color-primary);

  @include g.mq() {
    font-size: 16rem;
  }
}

.service-card-meta {
  margin-top: 24rem;
  font-size: 14rem;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: var(--color-font-light);

  @include g.mq() {
    margin-top: 32rem;
  }
}

.service-card-description {
  font-size: 16rem;
  line-height: 1.7;
  letter-spacing: 0.05em;
  margin-top: 16rem;
}

.service-card-list {
  display: grid;
  gap: 10rem;
  margin-top: 24rem;

  @include g.mq() {
    margin-top: 32rem;
  }
}

.service-card-list-item {
  padding: 20rem;
  display: grid;
  grid-template-columns: 24rem 1fr;
  gap: 14rem;
  align-items: center;
  font-size: 16rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 6rem;

  @include g.mq() {
    padding: 20rem 24rem;
  }

  &::before {
    content: "";
    mask-image: url(../../../img/icon_check.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--color-white);
    width: 100%;
    height: 24rem;
  }
}
