@use "../../global" as g;

/*!
page > about > about-philosophy
------------------------------
*/

.about-philosophy {
  padding-bottom: 64rem;

  @include g.mq(md) {
    padding-bottom: 96rem;
  }
}

.about-philosophy-content {
  padding-top: 48rem;

  @include g.mq(md) {
    padding-top: 64rem;
  }
}

.about-philosophy-list {
  display: flex;
  flex-direction: column;
  gap: 24rem;

  @include g.mq(md) {
    flex-direction: row;
    gap: 40rem;
    justify-content: center;
  }
}

.about-philosophy-item {
  padding-block: 54.5rem;
  margin-inline: auto;
  width: 300rem;
  height: 300rem;
  border-radius: 50%;
  background-color: var(--color-bg-extra-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16rem;

  @include g.mq() {
    margin-inline: 0;
    width: 352rem;
    height: 352rem;
  }
}

.about-philosophy-label {
  font-family: var(--font-family-dosis);
  font-size: 23rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  color: var(--color-primary);
}

.about-philosophy-main-text,
.about-philosophy-sub-text {
  text-align: center;
}

.about-philosophy-main-text {
  font-size: 22rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.about-philosophy-sub-text {
  font-size: 14rem;
  line-height: 1.8;
  letter-spacing: 0.05em;
  color: color-mix(in srgb, var(--color-font-light) 99.67%, transparent);
}
