@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.l-footer {
  padding-block: 54rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-inline: auto;

  @include g.mq() {
    padding: 54rem 65rem 32rem;
  }
}

.l-footer-inner {
  display: grid;
  gap: 24rem;
  place-items: center;

  @include g.mq() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 46rem 76rem;
    justify-items: start;
    align-items: center;
    gap: 80rem 0;
  }
}

.l-footer-logo {
  width: 250rem;
}

.l-footer-address {
  display: grid;
  gap: 10rem;
  text-align: center;

  @include g.mq() {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: left;
    gap: 5rem;
  }
}

.l-footer-address-text {
  font-size: 13rem;
  line-height: 1.7;
  letter-spacing: 0.075em;
}

.l-footer-address-text--tel {
  display: inline-flex;
  gap: 12rem;
}

.l-footer-nav {
  @include g.mq() {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: flex-end;
  }
}

.l-footer-nav-list {
  display: flex;
  gap: 16rem 32rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include g.mq() {
    gap: 16rem 55rem;
  }
}

.l-footer-nav-item {
  display: flex;
}

.l-footer-nav-link {
  font-family: var(--font-family-dosis);
  font-size: 18rem;
  line-height: 1;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  transition: opacity 0.15s var(--easing-ease-in-out-cubic);

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.l-footer-nav-item--contact {
  width: 295rem;

  @include g.mq() {
    width: auto;
  }
}

.l-footer-nav-link--contact {
  width: 100%;
  padding-block: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
  border: 1rem solid var(--color-white);
  border-radius: 60rem;
  transition: background-color 0.15s var(--easing-ease-in-out-cubic),
    color 0.15s var(--easing-ease-in-out-cubic);

  @include g.mq() {
    padding: 9rem 31rem;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 16rem;
    height: 13rem;
    mask-image: url("../img/icon_mail.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-white);
    transition: background-color 0.15s var(--easing-ease-in-out-cubic);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-white);
      opacity: 1;

      &::before {
        background-color: var(--color-primary);
      }
    }
  }
}

.l-footer-nav-sub {
  @include g.mq() {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: flex-end;
  }
}

.l-footer-nav-sub-list {
  display: flex;
  gap: 16rem 20rem;
  flex-wrap: wrap;
  justify-content: center;

  @include g.mq() {
    justify-content: flex-end;
  }
}

.l-footer-nav-sub-item {
  display: flex;
}

.l-footer-nav-sub-link {
  font-family: var(--font-family-dosis);
  font-size: 14rem;
  line-height: 1.7;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  transition: opacity 0.15s var(--easing-ease-in-out-cubic);

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.l-footer-copyright {
  display: block;
  margin-top: 10rem;
  font-size: 12rem;
  line-height: 1.7;
  letter-spacing: 0.075em;
  opacity: 0.7;
}
