@use "../global" as g;

/*!
layout > header
------------------------------
*/

.l-header {
  background-color: transparent;
  height: 90rem;
  padding-inline: 12rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  width: 100%;

  @include g.mq() {
    height: 101rem;
    padding-inline: 65rem;
  }

  /* トップページでは白のロゴを表示 */
  .l-header-logo-white {
    display: block;
  }

  .l-header-logo-primary {
    display: none;
  }
}

.l-header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-header-logo {
  width: 240rem;

  @include g.mq() {
    width: 290rem;
  }
}

.l-header-menu-button {
  width: 50rem;
  height: 50rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;

  @include g.mq() {
    display: none;
  }

  .l-header-menu-button-dot {
    width: 4rem;
    height: 4rem;
    background-color: var(--color-white);
    border-radius: 50%;
  }
}

.l-header-menu-button-close {
  background-color: var(--color-white);
  position: absolute;
  top: 20rem;
  right: 12rem;

  .l-header-menu-button-close-line {
    width: 19.8rem;
    height: 2rem;
    background-color: var(--color-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;

    &:first-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:last-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.l-header-menu {
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, #000 30%, transparent);
  border: none;
  margin: 0;
  padding: 0;

  @include g.mq() {
    display: block; // PCサイズでは常に表示
    width: auto;
    height: auto;
    background: transparent;
    margin: 0;
    position: static;
  }

  &::backdrop {
    display: none;
  }
}

.l-header-menu-nav {
  background-color: var(--color-primary);
  margin-left: 55rem;
  position: relative;
  border-radius: 0 0 0 30rem;

  @include g.mq() {
    background-color: transparent;
  }
}

.l-header-menu-list {
  padding: 40rem 0 40rem 40rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;

  @include g.mq() {
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 50rem;
  }
}

.l-header-menu-link {
  display: grid;
  line-height: 1.7;
  width: fit-content;

  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        .l-header-menu-link-en {
          @include g.mq() {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}

.l-header-menu-link-en {
  color: var(--color-white);
  font-family: var(--font-family-dosis);
  font-size: 28rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  transition: color 0.3s ease;

  @include g.mq() {
    font-size: 18rem;
    line-height: 1;
  }
}

.l-header-menu-link-ja {
  color: color-mix(in srgb, var(--color-white) 80%, transparent);
  font-size: 14rem;
  font-weight: 500;
  letter-spacing: 0.05em;

  @include g.mq() {
    display: none;
  }
}

.l-header-menu-link--top {
  @include g.mq() {
    display: none;
  }
}

.l-header-menu-link--contact {
  @include g.mq() {
    background-color: var(--color-primary);
    padding: 10rem 32rem;
    border-radius: 71rem;
    grid-template-columns: 16rem 1fr;
    align-items: center;
    gap: 9rem;
    transition: background-color 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-white);

        .l-header-menu-link-en {
          color: var(--color-primary);
        }

        &::before {
          background-color: var(--color-primary);
        }
      }
    }

    &::before {
      content: "";
      mask-image: url("../img/icon_mail.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--color-white);
      transition: background-color 0.3s ease;
    }
  }
}

/* 下層ページ */
.l-header.l-header--page {
  /* 下層ページではprimary色のロゴを表示 */
  .l-header-logo-white {
    display: none;
  }

  .l-header-logo-primary {
    display: block;
  }

  .l-header-menu-link-en {
    @include g.mq() {
      color: var(--color-font-base);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-primary);
      }
    }
  }

  .l-header-menu-link--contact {
    .l-header-menu-link-en {
      color: var(--color-white);
    }

    @media (any-hover: hover) {
      &:hover {
        .l-header-menu-link-en {
          color: var(--color-primary);
        }
      }
    }
  }
}
