@use "../global" as g;

/*!
component > page-kv
------------------------------
*/
.c-page-kv {
  width: 100%;
  background-color: var(--color-bg-light);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 64rem;
    background-color: var(--color-white);
    border-top-left-radius: 30rem;

    @include g.mq() {
      height: 96rem;
      border-top-left-radius: 50rem;
    }
  }
}

.c-page-kv-inner {
  display: grid;
  gap: 32rem;
  padding: 142rem 0 20rem;

  @include g.mq() {
    padding: 161rem 0 20rem;
    gap: 56rem;
  }
}

.c-page-kv-title {
  display: grid;
  gap: 22rem;
  justify-content: start;

  @include g.mq() {
    gap: 28rem;
  }
}

.c-page-kv-title-en {
  font-size: 55rem;
  font-family: var(--font-family-dosis);
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 72rem;
  }
}

.c-page-kv-title-ja {
  font-size: 16rem;
  color: var(--color-font-light);
  line-height: 1;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 18rem;
  }
}
