@use "../global" as g;

/*!
component > recruit-button
------------------------------
*/

.c-recruit-button {
  width: 290rem;
  height: 294.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14rem;
  position: relative;
  overflow: hidden;

  @include g.mq() {
    width: 355rem;
    height: 360rem;
    gap: 24rem;
  }

  @media (any-hover: hover) {
    &:hover {
      .c-recruit-button-text {
        color: var(--color-primary02);
      }

      .c-recruit-button-icon {
        background-color: transparent;

        &::before {
          background-color: var(--color-primary);
        }
      }
    }
  }

  &::before {
    content: "";
    background-image: url("../img/text_recruit-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    /* テキストの回転アニメーション */
    animation: recruit-button-text-rotate 10s linear infinite;
    @keyframes recruit-button-text-rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.c-recruit-button-text {
  font-size: 18rem;
  font-family: var(--font-family-dosis);
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--color-primary);
  text-transform: capitalize;

  @include g.mq() {
    font-size: 20rem;
  }
}

.c-recruit-button-icon {
  display: block;
  width: 47rem;
  height: 47rem;
  box-shadow: 0 0 0 1rem var(--color-primary) inset;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s var(--easing-ease-out-cubic);

  @include g.mq() {
    width: 58rem;
    height: 58rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-white);
    border-radius: 50%;
    transition: background-color 0.3s var(--easing-ease-out-cubic);

    @include g.mq() {
      width: 6rem;
      height: 6rem;
    }
  }
}
