@use "../../global" as g;

/*!
page > top > top-news
------------------------------
*/

.top-news {
  padding-block: 40rem 60rem;
  position: relative;

  @include g.mq() {
    padding-block: 96rem;
  }

  &::before {
    content: "";
    display: block;
    width: 265rem;
    height: 100%;
    background-color: var(--color-bg-extra-light);
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 50rem;
    z-index: var(--z-index-negative);

    @include g.mq() {
      width: 1080rem;
    }
  }
}

.top-news-body {
  @include g.mq() {
    display: grid;
    grid-template-columns: 1fr 760rem;
    grid-template-rows: auto 1fr;
  }
}

.top-news-head {
  @include g.mq() {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.top-news-list {
  margin-top: 48rem;

  @include g.mq() {
    grid-column: 2 /3;
    grid-row: 1 / 3;
    margin-top: 0;
  }
}

.top-news-button {
  margin-top: 32rem;
  text-align: right;

  @include g.mq() {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 80rem;
    text-align: left;
  }
}
