@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
  width: 100%;
  height: 485rem;
  position: relative;

  @include g.mq() {
    min-height: 769rem;
    height: 100vh;
    height: 100svh;
  }
}

.top-kv-bg {
  position: absolute;
  inset: 0;
  z-index: var(--z-index-negative);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.top-kv-inner {
  padding: 300rem 0 0 20rem;
  height: 100%;

  @include g.mq() {
    padding: 280rem 0 0 83rem;
    display: grid;
    grid-template-columns: 1fr 83rem;
    grid-template-rows: auto 1fr;
  }
}

.top-kv-title {
  display: grid;
  gap: 21rem;
  color: var(--color-white);

  @include g.mq() {
    gap: 54rem;
  }
}

.top-kv-title-en {
  font-family: var(--font-family-dosis);
  font-size: 43rem;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: 0.025em;

  @include g.mq() {
    font-size: 101rem;
    font-weight: 300;
  }
}

.top-kv-title-ja {
  font-size: 18rem;
  line-height: 1.5;
  letter-spacing: 0.2em;

  @include g.mq() {
    font-size: 22rem;
  }
}

.top-scroll-down {
  display: none;

  // PCのみ表示
  @include g.mq() {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: end;
    display: block;
    width: 83rem;
    height: 171rem;
    border-radius: 39rem 0 0 0;
    background-color: var(--color-white);
    position: relative;
    transform: translateY(
      1rem
    ); //デバイスによって背景画像がはみ出さないように調整

    &::before {
      content: "";
      display: block;
      width: 46rem;
      height: 46rem;
      background-image: url("../../img/bg_kv-corner.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 0;
      left: -45rem; // 背景画像の角がはみ出さないように調整
      z-index: var(--z-index-default);
    }
  }
}

.top-scroll-down-body {
  width: fit-content;
  display: flex;
  gap: 6rem;
  align-items: flex-start;
  padding: 49rem 0 0 36rem;
}

.top-scroll-down-text {
  font-family: var(--font-family-dosis);
  font-size: 15rem;
  line-height: 1;
  color: var(--color-primary);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.top-scroll-down-arrow {
  height: 90rem;
  display: grid;
  place-items: center;
}

.top-scroll-down-arrow-line,
.top-scroll-down-arrow-dot {
  display: block;
  background-color: var(--color-primary);
  border-radius: 4rem;

  /* スクロールダウンアニメーションの継続時間を指定する変数 */
  --scroll-down-duration: 1.6s;
}

.top-scroll-down-arrow-line {
  width: 2rem;
  height: 82rem;
  transform: scaleY(0);
  transform-origin: top;

  /*! スクロールダウン矢印の線アニメーション */
  animation: scroll-line-grow var(--scroll-down-duration)
    var(--easing-ease-in-out-cubic) infinite;

  @keyframes scroll-line-grow {
    to {
      transform: scaleY(1);
    }
  }
}

.top-scroll-down-arrow-dot {
  margin-top: 4rem;
  width: 4rem;
  height: 4rem;
  transform: translateY(calc(-82rem * 1));

  /* スクロールダウン矢印のドットアニメーション */
  animation: scroll-arrow-move var(--scroll-down-duration)
    var(--easing-ease-in-out-cubic) infinite;

  @keyframes scroll-arrow-move {
    to {
      transform: translateY(0);
    }
  }
}
